---
import { ClientRouter } from "astro:transitions";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Portfolio de Pedro Tom치s Hern치ndez, Frontend Lead & Architect con +10 a침os de experiencia. Especialista en React, Design Systems y liderazgo de equipos de ingenier" />
		<meta name="keywords" content="Frontend Lead, Architect, React, Design Systems" />
		<title>Pedro T. Hern치ndez</title>
    <ClientRouter />

	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
    box-sizing: border-box;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
